PORT=8080
AUTH_SERVICE_URL=http://auth-service:4001
EARNINGS_SERVICE_URL=http://earnings-service:4002
GRIEVANCE_SERVICE_URL=http://grievance-service:4003
CERTIFICATE_SERVICE_URL=http://certificate-service:4004
SHARED_AGENT_SERVICE_URL=http://shared-agent-service:4005
ANALYTICS_SERVICE_URL=http://analytics-service:8001
ANOMALY_SERVICE_URL=http://anomaly-service:8002
